.u-section-1 .u-sheet-1 {
  min-height: 178px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 20px;
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1793px;
}

.u-section-2 .u-text-1 {
  margin: 14px auto 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 1599px;
  grid-auto-columns: 25%;
  --gap: 0px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  object-position: 50% 10.62%;
  height: 299px;
  width: 215px;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-2 {
  object-position: 50% 10.62%;
  height: 299px;
  width: 215px;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-image-3 {
  object-position: 50% 50%;
  height: 299px;
  width: 215px;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-image-4 {
  object-position: 24.29% 100%;
  height: 299px;
  width: 215px;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-2 .u-image-5 {
  object-position: 50% 10.62%;
  height: 299px;
  width: 215px;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-2 .u-image-6 {
  height: 299px;
  width: 215px;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-text-13 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-2 .u-image-7 {
  height: 299px;
  object-position: 50% 34.46%;
  width: 215px;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-text-15 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-2 .u-image-8 {
  object-position: 19.07% 10.62%;
  height: 299px;
  width: 215px;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-text-17 {
  font-size: 0.875rem;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
    min-height: 1318px;
  }

  .u-section-2 .u-image-1 {
    height: 555px;
  }

  .u-section-2 .u-image-2 {
    height: 555px;
  }

  .u-section-2 .u-image-3 {
    height: 234px;
  }

  .u-section-2 .u-image-4 {
    height: 555px;
  }

  .u-section-2 .u-image-5 {
    height: 555px;
  }

  .u-section-2 .u-image-6 {
    height: 555px;
  }

  .u-section-2 .u-image-7 {
    height: 555px;
  }

  .u-section-2 .u-image-8 {
    background-size: auto 126%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3585px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 41px;
    margin-bottom: 21px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    min-height: 3456px;
    grid-gap: 0px;
  }

  .u-section-2 .u-image-1 {
    height: 416px;
  }

  .u-section-2 .u-image-2 {
    height: 416px;
  }

  .u-section-2 .u-image-3 {
    height: 401px;
  }

  .u-section-2 .u-image-4 {
    height: 416px;
  }

  .u-section-2 .u-image-5 {
    height: 416px;
  }

  .u-section-2 .u-image-6 {
    height: 416px;
  }

  .u-section-2 .u-image-7 {
    height: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 721px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 721px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 695px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 721px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 721px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 721px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 721px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2662px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 41px;
  }

  .u-section-2 .u-image-1 {
    height: 407px;
  }

  .u-section-2 .u-image-2 {
    height: 407px;
  }

  .u-section-2 .u-image-3 {
    height: 428px;
  }

  .u-section-2 .u-image-4 {
    height: 407px;
  }

  .u-section-2 .u-image-5 {
    height: 407px;
  }

  .u-section-2 .u-image-6 {
    height: 407px;
  }

  .u-section-2 .u-image-7 {
    height: 407px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 754px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin: 46px 0 59px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-btn-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-btn-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-btn-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-btn-7 {
    font-size: 1rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 297px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 60px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  font-size: 1.125rem;
  font-family: 'Open Sans',sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  font-size: 1.125rem;
  font-family: 'Open Sans',sans-serif;
  background-image: none;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }
}